.turnOff{
    display: none;
}

.clPlayer{
    border-width: 5px;
    border-color: crimson;
    border-style: inset;
    width: 350px;
    height: 500px;
}

.clPlayList{
    border: 5px solid green;
    background-color: goldenrod;
}

.clPlayBar{
    background-color: red;
}

.clPlayTrack{
    color:greenyellow;
}

.mouseOver{
    background-color: tomato;
}

.mouseout{
    background-color: transparent;
}

li{
    color: firebrick;
}

